<div
  class="hidden translate-x-full -translate-x-full translate-y-full -translate-y-full scale-90 scale-110 blur-sm rotate-15 -rotate-15 rotate-y-180 rounded-sm rounded-md rounded-lg rounded-xl rounded-2xl rounded-3xl rounded-full rounded-none"
></div>
